.parallax1 {
    /* The image used */
    background-image: url("/images/backgroundLight.png");

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
}

.parallaxSecond {
    /* The image used */
    background-image: url("/images/meeples.jpg");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about {
    background-color: white;
    color: #777;
    padding: 50px 80px;
    text-align: justify;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.parallax1d {
    /* The image used */
    background-image: url("/images/backgroundDark.png");

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}